.jumbotron {
    color: black;
    background-color: chartreuse;
}
.footer {
    background-color: burlywood;
    color: black;
}
.btn-hotel {
    width: 100%;
}
.card-hotel {
    padding: 2px 2px 2px 2px;
    flex: 1 150px;  /* 150px ajusta el ancho */
    margin: 1px;
}
.card-hotel-2 {
    padding: 2px 2px 2px 2px;
    flex: 1 150px;  /* 150px ajusta el ancho */
    margin: 1px;
    flex-direction: column;
    justify-content: space-between;
}
.card-hotel-3 {
    display: flex;
    flex: 1 150px ;
    padding: 2px 2px 2px 2px;
    flex-direction: column;
    justify-content: space-between;
    
}